@using ban_quan_ao_asp.net_mvc.Models;
@model List<ProductCart>
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<!-- Breadcrumb -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="/Home">Trang Chủ</a>
                <a class="breadcrumb-item text-dark" href="/Product/Category">Cửa Hàng</a>
                <span class="breadcrumb-item active" href="#">Giỏ Hàng</span>
            </nav>
        </div>
    </div>
</div>
<!-- Cart -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="custom-table table table-borderless table-hover text-center mb-0">
                <thead class="table-dark">
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Đơn giá</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody class="align-middle table-cart-body">
                    @{
                        int i = 0;
                        foreach (var productCartItem in Model)
                        {
                            <tr>
                                <td class="align-middle">
                                    <img src="~/Content/assets/img/test-sp-img/@productCartItem.AnhDaiDien" class="product-cart-img" alt="">
                                    @productCartItem.TenSanPham - @productCartItem.TenMau - @productCartItem.KichCo
                                </td>
                                <td class="align-middle">@productCartItem.DonGia</td>
                                <td class="align-middle">
                                    <div class="input-group cart-quantity mx-auto">
                                        <button class="btn btn-sm btn-square btn-primary rounded-0 shadow-none" 
                                                onclick="decreaseProductCartQuantity(@i, '@productCartItem.MaSanPham', '@productCartItem.MaMau', '@productCartItem.KichCo')">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <input type="text" class="form-control shadow-none rounded-0" value="@productCartItem.SoLuong"
                                               oninput="onChangeProductCartQuantity(@i, '@productCartItem.MaSanPham', '@productCartItem.MaMau', '@productCartItem.KichCo')">
                                        <button class="btn btn-sm btn-square btn-primary rounded-0 shadow-none"
                                                onclick="increaseProductCartQuantity(@i, '@productCartItem.MaSanPham', '@productCartItem.MaMau', '@productCartItem.KichCo')">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </td>
                                <td class="align-middle">@productCartItem.ThanhTien</td>
                                <td class="align-middle">
                                    <button class="btn btn-sm btn-danger rounded-0 shadow-none"
                                            onclick="removeProductCart(@i, '@productCartItem.MaSanPham', '@productCartItem.MaMau', '@productCartItem.KichCo')">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                            ++i;
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <div class="mb-30">
                <div class="input-group">
                    <input type="text" class="coupon-input form-control border-0 shadow-none rounded-0" placeholder="Mã khuyến mại" value="@ViewBag.couponCode">
                    <button class="btn btn-primary shadow-none rounded-0" onclick="applyCoupon()">Áp dụng giảm giá</button>
                </div>
            </div>
            <h5 class="title position-relative text-dark text-uppercase mb-3">
                <span class="bg-secondary pe-3">Tổng tiền</span>
            </h5>
            <div class="cart-summary bg-light mb-5">
                <div class="border-bottom pb-2">    
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Tổng tiền sản phẩm</h6>
                        <h6 id="sum-total-product">@ViewBag.sumTotalProduct</h6>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Phí giao hàng</h6>
                        <h6>30000</h6>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Khuyến mại</h6>
                        <h6 id="coupon-price">@ViewBag.couponPrice</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Tổng tiền</h5>
                        <h5 id="sum-total">@ViewBag.sumTotal</h5>
                    </div>
                    @using (Html.BeginForm("Checkout", "Cart", FormMethod.Get))
                    {
                        <button type="submit" class="btn btn-primary rounded-0 shadow-none my-3 py-3 fw-bold w-100">Thanh toán</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>